html,
body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

#root {
  height: 100%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
  background-image: linear-gradient(#fc6c48 0%, #ef5081 100%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.todo-wrapper {
  width: 400px;
  max-width: 100%;
  min-height: 500px;
  margin: 20px auto 40px;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 40px 20px;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
  background-color: #f4f7fc;
  overflow: hidden;
  position: relative;
}

.todo-title {
  font-size: 1.2em;
  color: #f65c65;
  font-weight: normal;
}

.btn,
input {
  line-height: 2em;
  border-radius: 3px;
  border: 0;
  display: inline-block;
  margin: 15px 0;
  padding: 0.2em 1em;
  font-size: 1em;
}

input[type="text"] {
  border: 1px solid #ddd;
  min-width: 70%;
  transition: all ease-in 0.25s;
}

input:focus {
  outline: none;
  border: 1px solid #a3b1ff;
}

.btn {
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
}

.btn-add {
  background: #6664ff;
  border-color: #6664ff;
  pointer-events: visible;
  color: #fefefe;
  min-width: 12%;
  transition: all ease-in 0.25s;
  font-size: 2.2em;
  line-height: 0.5em;
  padding: 0.3em 0.3em;
  float: right;
}

.btn-add[data-disabled="true"] {
  background: gray;
  border-color: gray;
}

ul.todo-list {
  padding: 0;
  margin-bottom: 30px;
}

ul.todo-list li {
  position: relative;
  list-style-type: none;
  display: flex;
  margin: 10px 0;
  background: #e0e8f5;
  border-radius: 3px;
  padding: 12px;
  overflow: hidden;
}

ul.todo-list li .delete {
  position: absolute;
  width: 46px;
  height: 110%;
  right: 0;
  cursor: pointer;
  background-color: #f56468;
  color: #fff;
  transition: all ease-in 0.25s;
  transform: translateY(-30%);
}

ul.todo-list li .delete:after {
  position: absolute;
  content: "";
  top: 30%;
  right: 30%;
  width: 16px;
  height: 16px;
  background-image: url("https://nourabusoud.github.io/vue-todo-list/images/trash.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: all ease-in 0.25s;
}

.todo-checkbox {
  width: 22px;
  height: 22px;
  border-radius: 2px;
  border: 1px solid #cfdcec;
  background-color: #fff;
  padding: 0;
  margin: 0;
}

.todo-text {
  padding: 0 1em;
}

.control-buttons {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

.btn-secondary {
  display: inline-block;
  border: 0;
  padding: 0;
  margin: 0 10px;
  cursor: pointer;
}

.strikeoff {
  text-decoration: line-through;
}

footer {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #fff;
  bottom: 20px;
  left: 0;
}

footer a {
  color: #fff;
}
